{% extends "qr\layout.html" %}

{% block title %}
Login
{% endblock %}

{% block body %}
<div class="pahila">
    <div class="form-box">
        <div class="button-box">
            <div id="btn"></div>
            <button type="button" class="toggle-btn" onclick="student()">Student</button>
            <button type="button" class="toggle-btn" onclick="teacher()">Teacher</button>
            
        </div>
        <form id="student" class="input-group">
            <input type="text" class="input-field" placeholder="Name" required>
            <input type="number" class="input-field" placeholder="Rollno" required>
            <input type="number" class="input-field" placeholder="Sem" required>
            <input type="text" class="input-field" placeholder="Unique Id" required>
            <input type="text" class="input-field" placeholder="Optional subject" required>
            <input type="email" class="input-field" placeholder="Mail" >
            <input type="password" class="input-field" placeholder="Enter Password" required>
            <input type="checkbox" class="checl-box"><span>Remeber Password</span>
            <button type="submit" class="submit-btn" value="Submit">Register</button>
        </form>
        <form id="teacher" class="input-group">
            <input type="text" class="input-field" placeholder="Name" required>
            <input type="number" class="input-field" placeholder="Id" required>
            <input type="number" class="input-field" placeholder="Sem" required>
            <input type="text" class="input-field" placeholder="Subject" required>
            <input type="text" class="input-field" placeholder="Theory/Practical" required>
            <input type="email" class="input-field" placeholder="Mail" >
            <input type="password" class="input-field" placeholder="Enter Password" required>
            <input type="checkbox" class="checl-box"><span>Remeber Password</span>
            <button type="submit" class="submit-btn">Register</button>
        </form>
    </div>

</div>
{% endblock %}