{% extends "qr/layout.html" %}

{% block title %}
Login
{% endblock %}

{% block body %}
{% if msg %}
<b>{{ msg }}</b>
{% endif %}

<form action="{% url 'get_details' %}" method="POST">
    {% csrf_token %}
    <label for="Name">Name</label>
    <input type="text" name="name" placeholder="Name" id=name required>
    <label for="roll_no">Roll_no</label>
    <input type="number" name="Roll_no" placeholder="Roll_no" id=roll required>
    <label for="Dept">Department</label>
    <input type="text" name="dept" placeholder="Department" id=dept required>
    <label for="MisNo">Mis_no</label>
    <input type="number" name="mis_no" placeholder="Mis_No" minlength="18121001" maxlength="18121078" id=mis required>
    <input type="submit" value="Register" class="btn btn-primary">
</form>
{% endblock %}
